{% extends 'default.html' %}
{% block title %} Game list {% endblock %}

{% block content %}
<style>
   .purple { background: #8351fe; }
   .white { color: #ffffff }
  </style>
<div class="container white" style="background-color: #8351fe; margin-top: 100px; ">
        {% for game in game_list %}
            <div class="col-md-4 product-men">
                <div class="men-thumb-item">
                    <img src="{{ game.poster.url }}" class="img-fluid" alt="" >
                </div>
                <h4>
                    <a> {{ game.name }}</a>
                </h4>
            </div>
        {% endfor %}
</div>
{% endblock %}